@import url(http://fonts.googleapis.com/css?family=Dosis:400,200,300,500,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,200,700);


/*************************
*******Typography******
**************************/

body {
  font-family: 'Dosis', sans-serif, 'Questrial','Helvetica Neue',Arial;
  font-size: 17px;
}


.btn {
  border-radius: 0;
  font-family: 'Yanone Kaffeesatz','sans-serif';
  font-size: 20px;
  padding: 9px 23px;
}

a {
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

a:focus, 
a:hover {
  text-decoration: none;
  outline: none
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Garamond', 'sans-serif';
  font-weight: 300;
  color: #FFFFFF;
  text-transform: uppercase;
}
h7{
  font-family: 'Garamond', 'sans-serif';
  font-weight: 300;
  text-transform: uppercase;
  color: #000000;
}

h2 {
  font-size: 15px
}

.navbar-toggle {
  margin-top: 12px
}

.navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-toggle, 
.navbar-toggle:focus {
  border:1px solid #fff;
  outline: none;
}


/*************************
*******Header CSS******
**************************/

.header-top {
  display: block;
  overflow: unhidden;
  padding: 50px;
  position: fixed;
}

.main-nav {
  position: fixed;
  width: 100%;
  z-index: 999;
  right: -150px;
  top: 0px;
}

.f-nav 
.container {
  width: 100%
}

.social-icons a {
  font-size: 18px;
  color: #fff;
  padding-left:20px;
  position: relative;
  left: 150px;
  top: -100px;  
}

.social-icons .fa-facebook:hover {
  color: #3B5997
}

.social-icons .fa-twitter:hover {
  color:#29C5F6
}

.social-icons .fa-google-plus:hover {
  color:#D13D2F
}

.social-icons .fa-youtube:hover{
  color: #ec5538
}

.navbar-brand {
  height: 30px;                   /*Problema do botão resolve nessa linha*/
  margin-bottom: 40px;
  position: absolute; 
  width: 500px;
}

.navbar-brand img {     /*Logo Ktraca posição*/
  position:fixed;
  left: 30px;
  top: -25px;
}

.navbar-right {          
  top: -100px;
  padding: -95px;
  opacity: .9
}

.navbar-right li a {
  top: -45px;
  padding: 35px 21px;
  font-size: 22px;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Yanone Kaffeesatz', 'sans-serif';
  font-weight: 300;
}

.navbar-right li a:hover, 
.navbar-right li a:focus,  
.navbar-right .active a {
  background-color: #fff;
  color: #16728f
}


.fixed-menu {
  background-color: #1B7B98;
  position: fixed;
  top: 0;
}

.fixed-menu .navbar-right {
  padding: 0;
}


.fixed-menu .navbar-right li a {
  font-size: 20px;
  padding: 15px;
  text-shadow:inherit;
}

.fixed-menu .navbar-brand {
  height: 60px;
  margin-top: 0;
  padding: 0;
  margin-bottom: 0;
  width: 55px;
}

.fixed-menu .navbar-brand img {
  height:30px;
  top: 0;
}

.fixed-menu .header-top {
  display: block;
}



/*************************
*******Home CSS******
**************************/

#home {                             /* Fundo do site COR*/
  position: static;
  overflow: hidden;
  background-color: #1d1d1d;
}
#home1 {                           /* Fundo do site Fonte*/
  position:fixed;
  right: -300px;
  top: 0px;
  overflow: hidden;
  background-color: #000000;
}

#main-slider img {
  width: 100%
}
.carousel-inner > .item > img {
    position-relative;
    min-width: 100%;
    height: 600px;                        /* Altura da imagem dentro do Carousel */
	weight: 600px;
}
#main-slider 
.carousel-caption {
  bottom: 14%;
  float: center;
  left: 0;
  opacity: 0.8;
  padding:5px 20px 10px;
  right: inherit;
  color: #fff;
  text-align: left;
  background: #000000;                 /* Cor da barra flutuante */
}


#main-slider 
.carousel-caption h2 {  
  font-size: 38px;
 
}

#main-slider 
.carousel-caption h4 {
  font-size: 24px;
}

#main-slider 
.carousel-caption a {
  font-size: 22px;
  color: #2da1c5
}

#main-slider 
.carousel-caption a:hover {
  color: #2588a6
}

#main-slider 
.carousel-caption a:hover i {
  margin-left: 35px
}

#main-slider 
.carousel-caption a i {
  margin-left: 15px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#main-slider 
.carousel-indicators li {
  background-color:#1B7B98;
  border: 1px solid #1B7B98;
}

#main-slider 
.carousel-indicators li.active {
  border: 1px solid #fff;
}

/*************************
*******Explore CSS******
**************************/

#explore {
  background-color: #C34C39;
  background-image: url("../images/1.png");
  background-position: center bottom;
  background-size: contain;
  background-repeat:no-repeat;
  position: relative;
  overflow: hidden;
  padding: 130px 0 100px;
}

.watch {
  position: absolute;
  left: 0;
  top: 7%;
}

#explore h2 {
  font-size: 42px;
  text-transform: uppercase;
  text-align: center;
}

#countdown {
  display: block;
  overflow: hidden;
  text-align: center;
  padding: 0
}

#countdown li {
  list-style: none;
  display:inline-block;
  margin-right: 40px;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  position: relative;
}

#countdown li:last-child {
  margin-right: 0
}

#countdown li span {
  display: block;
  font-size: 40px;
  font-weight: 700;
  height: 82px;
  line-height: 79px;
  width: 75px;
  border-radius: 10px;
  border-right: 1px solid #9e3e2e;
  border-bottom: 1px solid #9e3e2e;
}

#countdown li .days {
  background-color: #45b29d;
  border-top: 1px solid #6ac1b1;
  border-left: 1px solid #6ac1b1;
}

#countdown li .hours {
  background-color: #efc94c; 
  border-top: 1px solid #f2d470;
  border-left: 1px solid #f2d470;
}

#countdown li .minutes {
  background-color: #e27a3f;
  border-top: 1px solid #e89565;
  border-left: 1px solid #e89565;
}

#countdown li .seconds {
  background-color: #df5a49;
  border-top: 1px solid #e57b6d;
  border-left: 1px solid #e57b6d;
}

#countdown li:before {
  background-color: #FFFFFF;
  content: "";
  height: 11px;
  left: 0;
  position: absolute;
  top: 36px;
  width: 1px;
}

#countdown li:after {
  background-color: #FFFFFF;
  content: "";
  height: 11px;
  right:0;
  position: absolute;
  top: 36px;
  width: 1px;
}

.cart {
  background-color: #b34534;  
  position: absolute;
  right:-200px;
  top: 37%;
  width:252px;
   -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.cart:hover {
  right:0;
}


.cart a {
  color: #FFFFFF;
  display: block;
  font-size: 24px;
  text-transform: uppercase;
}

.cart a i {
  font-size: 30px;  
  padding: 20px 12px;
  background-color: #A64030; 
  margin-right: 3px;
}

 

 /*************************
*******Event CSS******
**************************/
#event {
  background-color: #33888F;
  background-image: url("../images/fundomenu/1.png");
  background-position: 50% 0;
  background-size: contain;
  position: relative;
  background-repeat: repeat;
}

.guitar {
  position: absolute;
  right:0;
  top: 0
}


#event h2 {
  color: #FFFFFF;
  font-size: 36px;
  font-weight: 300;
  margin-bottom: 40px;
  margin-top: 70px;
  text-transform: uppercase;
}

.single-event {
  margin-bottom: 70px;
}

.single-event h4 {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 300;
  line-height: 26px;
  margin-top: 25px;
  text-transform: uppercase;
}


.single-event h5 {
  font-size: 18px;
  font-weight: 100;
  display: block;
}

#event-carousel {
  position: relative;
}

.even-control-left, 
.even-control-right {
  position: absolute;
  font-size: 24px;
  color: #fff;
  top: 0;
}

.even-control-left {
  right: 3%
} 

.even-control-right {
  right: 0;
}


/*************************
*******About CSS**********
**************************/

#about {
  background-color: #75B46E;
  background-image: url("../images/fundomenu/1.png");
  position: relative;  
  width: 100%;
  display: flex;
}
#about3 {
  background-color: #75B46E;
  background-image: url("../images/fundomenu/1.png");
  position: relative;  
  width: 100%;
  display: flex;
}
#atendimento {
  background-color: #75B46E;
  background-image: url("../images/fundomenu/1.png");
  position: relative;  
  width: 100%;
  display: flex;
}
#about4 {
  background-color: #75B46E;
  background-image: url("../images/fundomenu/2.png");  
  width: 100%;
  position: relative;
  display: flex;
}
#mark {
  background-color: #75B46E;
  background-image: url("../images/fundomenu/2.png");  
  width: 100%;
  position: relative;
  display: flex;
}
#about5 {
  background-color: #75B46E;
  background-image: url("../images/fundomenu/2.png");
  position: relative;  
  width: 100%;
  display: flex;
}
#mobile {
  background-color: #75B46E;
  background-image: url("../images/fundomenu/1.png");
  position: relative;  
  width: 100%;
  display: flex;
}
#org{
  background-color: #75B46E;
  background-image: url("../images/fundomenu/2.png");
  position: relative;  
  width: 100%;
  display: flex;
}
#about6 {
  background-color: #75B46E;
  background-image: url("../images/fundomenu/1.png");
  position: relative;  
  width: 100%;
  display: flex;
}
#video1 {
  background-color: #000000;
  width: 100%;
}

.guitar2 {
  top: 0;
  width: 50%;
}

.guitar2 img {             /*IMAGENS BANNER que estão a direita*/
  padding-top: 3%;
  position: relative;
  left: -15px;
  top: 15px;
}
.guitar3 img {             /*IMAGENS BANNER que estão a esquerda*/
  padding-top: 3%;
  position: relative;
  right: -15px;
  top: 15px;
}

.about-content {
  width: 100%;
  background-image: url("../images/fundomenu/1.png");
  background-position: left bottom;
  background-repeat: repeat;
  background-size: contain;
  padding: 70px 70px 110px;
}
.about4-content {
  width: 100%;
  background-image: url("../images/fundomenu/2.png");
  background-position: left bottom;
  background-repeat: repeat;
  background-size: contain;
  padding: 70px 70px 110px;
}
.about6-content {
  width: 100%;
  background-image: url("../images/fundomenu/1.png");
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 10px 10px 20px;
}
.about5-content {
  width: 100%;
  background-image: url("../images/fundomenu/2.png");
  background-position: left bottom;
  background-repeat: repeat;
  background-size: contain;
  padding: 70px 70px 110px;
}
.about3-content {
  width: 100%;
  background-image: url("../images/fundomenu/1.png");
  background-position: left bottom;
  background-repeat: repeat;
  background-size: contain;
  padding: 70px 70px 110px;
}
.about1-content {
  width: 100%;
  background-position: left bottom;
  background-repeat: repeat;
  background-size: contain;
  padding: 70px 70px 110px;
}


#about h2 {
  margin-bottom: 20px;
}
.about3-content h4 {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 300;
  line-height: 26px;
  margin-top: 25px;
  text-transform: uppercase;
}
.about-content h4 {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 300;
  line-height: 26px;
  margin-top: 25px;
}
.about4-content h4 {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  margin-top: 25px;
  text-transform: uppercase;
}
.about5-content h4 {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  margin-top: 10px;
  text-transform: uppercase;
}
.about3-content h2 {
  color: #FFFFFF;
  font-size: 25px;
  font-weight: 300;
  line-height: 26px;
  margin-top: 25px;
  text-transform: uppercase;
}
.about-content h2 {
  color: #FFFFFF;
  font-size: 25px;
  font-weight: 300;
  line-height: 26px;
  margin-top: 25px;
}
.about4-content h2 {
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 300;
  line-height: 26px;
  margin-top: 25px;
  text-transform: uppercase;
}
.about5-content h2 {
  color: #FFFFFF;
  font-size: 25px;
  font-weight: 300;
  line-height: 26px;
  margin-top: 10px;
  text-transform: uppercase;
}
.about-content p {
  font-size: 17px;
  font-family: 'Dosis',sans-serif;
}

#about .btn-primary {
  background-color: #137c61;
  color: #fff;
  text-transform: capitalize;
  border: none;
  margin-top: 28px;
}

#about .btn-primary:hover {
  background-color: #126d55
}



/*************************
******Twitter CSS****
**************************/

#twitter {
  background-color: #ecedef;
  background-image: url("../images/twitter-bg.jpg");
  background-position: center bottom;
  background-size: cover;
  background-repeat:no-repeat;
  position: relative;
  padding: 95px 0 90px;
  overflow: hidden;
}

.twit {
  position: absolute;
  left: 0;
  top:-42%;
}

#twitter-feed .item {
  text-align: center;
}

#twitter-feed .item img {
  display: inline-block;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background-color: #c5c8ce;
  padding: 5px;
  margin-bottom: 30px;
}

#twitter-feed .item a, 
#twitter-feed .item p { 
  font-size: 24px;
  font-weight: 300;
  font-family: 'Yanone Kaffeesatz','sans-serif';
}

#twitter-feed .item p {
  color: #3D3D3D;
}

#twitter-feed .item a {
  color:#00c3ff;
}
.button2 {                                                      /*ADICIONAR BOTOES*/
   border: 0px solid #ffffff;
   background: #04047d;
   background: -webkit-gradient(linear, left top, left bottom, from(#080470), to(#04047d));
   background: -webkit-linear-gradient(top, #080470, #04047d);
   background: -moz-linear-gradient(top, #080470, #04047d);
   background: -ms-linear-gradient(top, #080470, #04047d);
   background: -o-linear-gradient(top, #080470, #04047d);
   background-image: -ms-linear-gradient(top, #080470 0%, #04047d 100%);
   padding: 12px 24px;
   -webkit-border-radius: 22px;
   -moz-border-radius: 22px;
   border-radius: 22px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
   box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
   text-shadow: #000000 0 1px 0;
   color: #ffffff;
   font-size: 18px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button2:hover {
   border: 0px solid #ffffff;
   text-shadow: #000000 0 1px 0;
   background: #070661;
   background: -webkit-gradient(linear, left top, left bottom, from(#060f75), to(#070661));
   background: -webkit-linear-gradient(top, #060f75, #070661);
   background: -moz-linear-gradient(top, #060f75, #070661);
   background: -ms-linear-gradient(top, #060f75, #070661);
   background: -o-linear-gradient(top, #060f75, #070661);
   background-image: -ms-linear-gradient(top, #060f75 0%, #070661 100%);
   color: #68ff03;
   }
.button2:active {
   text-shadow: #000000 0 1px 0;
   border: 0px solid #ffffff;
   background: #020861;
   background: -webkit-gradient(linear, left top, left bottom, from(#0d0357), to(#070661));
   background: -webkit-linear-gradient(top, #0d0357, #020861);
   background: -moz-linear-gradient(top, #0d0357, #020861);
   background: -ms-linear-gradient(top, #0d0357, #020861);
   background: -o-linear-gradient(top, #0d0357, #020861);
   background-image: -ms-linear-gradient(top, #0d0357 0%, #020861 100%);
   color: #f7ff00;
}

.twitter-control-left, 
.twitter-control-right {
  position: absolute;
  color: #00c3ff;
  top: 59%;
  font-size: 24px
}

.twitter-control-left {
  left: 0;
}

.twitter-control-right {
  right:0;
} 



/*************************
******Sponsor CSS****
**************************/

#sponsor {
  background-color: #1881a2;
  background-image: url("../images/fundomenu/sponsor-bg.jpg");
  background-position:50% 0;
  background-size: cover;
  background-repeat:no-repeat;
  position: relative;
}

.light {
  position: absolute;
  right: 0;
  bottom: 0;
}

#sponsor .col-sm-10 {
  z-index: 10;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  margin-top: 25px;
  text-transform: uppercase;
}

#sponsor h2 {
  margin-top: 90px;
  margin-bottom: 40px;
  color: #ffffff;
}

#sponsor .item ul {
  font-size: 0;
  padding: 0;
}


#sponsor .item ul li {
  display: inline-block;
  list-style: none;
  width: 33.33%;
  margin-bottom: 75px;
}

#sponsor .item ul li:last-child {
  margin-right: 0
}

.sponsor-control-left, 
.sponsor-control-right {
  color: #FFFFFF;
  font-size: 24px;
  position: absolute;
  top: 20%;
}

.sponsor-control-left {
  right: 12%
}

.sponsor-control-right {
  right: 10%
}


/*************************
******Map CSS****
**************************/
#map {
  position: relative;
}

#gmap {
  height:550px;  
}


/*************************
******Contact CSS****
**************************/

.contact-section {
  background-color: #f7ab24;
  background-image: url("../images/fundomenu/contact-bg3.jpg");
  background-position:60% 0;
  background-size:contain;
  background-repeat:repeat;  
  position: relative;
}

.ear-piece {
  position: absolute;
  left: 0;
  top: 0;
}

#contact .container {
  padding-top: 67px;
  margin-bottom: 0px;
}

#contact h3 {
  text-transform:inherit;
  color: #373737; 
}

#contact-section h3 {  
  margin-bottom: 0px;
}

#contact address {
  font-size: 18px;  
  color: #373737; 
}

.contact-text {
  margin-bottom: 35px;
  display: block;
}


#contact-section .form-control {
  border-color: #ae750d;
  box-shadow:none;
  outline: 0 none;
  border-radius: 0;
  color: #797979;
  font-size: 18px;
}

#contact-section .form-control:focus {
  border-color: #ae750d;
}

#contact-section input {  
  height: 44px;
}

#contact-section textarea {
  height: 90px;
  resize:none;
}

#contact-section .btn-primary {
  background-color: #373737;
  color: #f7ab24;
  border: none;
  font-size: 24px;
  padding: 6px 42px;
  margin-bottom: 110px;
  margin-top: 10px
}

#contact-section .btn-primary:hover {
  background-color: #212020;
  color: #fff
}



/*************************
******Footer CSS****
**************************/

#footer {
  background-color: #212121;
  background-image: url("../images/footer-bg1.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
  font-size: 20px;
  padding: 35px 0;
}

#footer a {
  color:#f7ab24
}

#footer a:hover {
  color:#1B7B98
}


